* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* montserat, roboto */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  position: relative;
}

main {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

img {
  cursor: pointer;
}


.scrollTop {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  background-color: #1a1f25;
  color: white;
  padding: 20px;
  border-radius: 1.375rem;
  position: fixed;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.header {
  height: 90px;
  width: 100%;
  background-color: #ebebeb;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 99;
}

nav {
  min-height: 20vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1, nav ul {
  font-size: 1.2rem;
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  display: none;
  text-align: center;
  margin-top: 60px;
}

nav a {
  color: #000;
  text-decoration: none;
}

.logo img{
  font-size: 0.5em;
  width: 90px;
  margin-top: 25px;
  padding-right: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.opening {
  display: block;
  height: 233px;
  margin-top: -5px;
  padding-top: 0px;
}

.menu {
  display: block;
  margin-top: -50px;
  margin-right: 20px;
  margin-left: 30px;
  cursor: pointer;
  font-size: 30px;
  position: relative;
  top: 0;
  left: 0;
}

/* Classes for js*/
.disable {
  display: none;
}

.active {
  display: block;
}

/* HERO */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: 400px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 2.5rem;
}

/* Theme switch style */
.switcherTitle {
  margin-left: 30px;
  margin-bottom: 40px;
  padding-top: 40px;
  color: #1a1f25;
}

.themeContainer {
  background-color: #ebebeb;
  padding-bottom: 25px;
  margin-top: -4px;
}

.theme {
  cursor: pointer;
  color: #000;
  font-size: 15px;
  border: 1px solid #000;
  background-color: #f2915a;
  width: 100px;
  height: 40px;
  margin-top: 40px;
}

.language {
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
}

.switchers {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* about page */
.about-section {
  margin-top: 40px;
}

.about-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

/* Moje zdjecie albo do usuniecia */
.round-image {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px auto;
}

.about-description {
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  width: 100px;
  height: 30px;
  padding-top: 4px;
  padding-left: 20px;
  border: 1px solid #000;
  color: #1a1f25;
  background-color: #f2915a;
}

.about-btn {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

.about-contact {
  text-transform: uppercase;
  width: 116px;
  margin-left: 30px;
}

.about-cv {
  padding-left: 39px;
  margin-right: 50px;
}

/* SKILLS */
.skills-section {
  background-color: #ebebeb;
}

.skills-img {
  width: 100px;
  height: 100px;
}

.skills-basic-header {
  margin-left: 2em;
  padding-top: 30px;
  margin-bottom: 20px;
}

.skills-basic {
  grid-template-columns: repeat(1, 100px);
  grid-gap: 14px;
  display: grid;
  margin-left: calc(50% - 3em);
  margin-right: 120px;
  margin-bottom: 25px;
}

.skills-subheader {
  padding-top: 10px;
  margin-left: 4em;
  margin-bottom: 30px;
}

.skills-subheader span {
  margin-left: 3em;
}

.skills-update {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 14px;
  margin-left: calc(50% - 3em);
  margin-right: calc(50% - 4em);
  margin-bottom: 20px;
}

.skills-base-header {
  padding-top: 10px;
  margin-left: 5em;
  margin-right: 2em;
  margin-bottom: 20px;
}

.skills-base {
  display: grid;
  grid-gap: 14px;
  margin-left: calc(50% - 3em);
  margin-right: calc(50% - 4em);
}

.skills-base img:first-child {
  margin-right: 16px;
}

.skills-tools-header {
  padding-top: 20px;
  margin-left: 6em;
  margin-right: 1em;
  margin-bottom: 30px;
}

/* .skills-tools-header span {
  margin-left: 2em;
} */

.skills-tools {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-gap: 14px;
  margin-left: calc(50% - 3em);
  margin-right: calc(50% - 4em);
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin-top: 15px;
}

/* PROJECTS */

.projects-header {
  margin-bottom: 30px;
  margin-left: 1em;
  padding-top: 20px;
  padding-left: 10px;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.project-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid #000;
  width: 80vw;
}

.project-card img {
  width: 100%;
  height: 200px;
}

.card-content {
  margin-left: 15px;
  margin-right: 10px;
}

.card-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-description {
  text-align: center;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.technology {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.card-btn {
  display: flex;
  margin-left: 5em;
  margin-right: 3em;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.card-button {
  background-color: #1a1f25;
  color: #f2915a;
  border: 1px solid #000;
  margin-bottom: 5px;
  margin-right: 20px;
  cursor: pointer;
  padding-left: 10px;
}

/* SOCIAL */
.social-container {
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 20px;
}

.social-container img {
  width: 30vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.social-container a {
  margin: auto;

}
.social-container img:last-child {
  margin-bottom: 30px;
}

/* footer */
.footer {
  background-color: #1a1f25;
  color: #ebebeb;
  height: 60px;
  padding-top: 25px;
  padding-left: 34px;
  padding-bottom: 60px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
  /* Skills  */
  .skills-subheader {
    margin-left: 7em;
  }

  .skills-subheader span {
    margin-left: 104px;
  }

  .skills-base-header {
    margin-left: 9em;
  }

  .skills-tools-header{
    margin-left: 7em;
  }

  .skills-tools-header span {
    margin-left: 0;
  }

  /* Projects */
  .projects-header {
    padding-top: 15px;
    padding-left: 10px;
  }

  .project-card {
    width: 70vw;
  }

  .card-btn {
    margin-left: 6em;
  }

  .card-button {
    width: 100px;
    height: 30px;
    padding-top: 4px;
    padding-left: 4px;
    border: 1px solid #000;
  }

  /* FOOTER */
  .footer {
    text-align: center;
  } 

}

@media screen and (min-width: 768px) {
  /* Skills  */
  .skills-basic {
    grid-template-columns: repeat(3, 100px);
    margin-left: 200px;
  }

  .skills-subheader {
    margin-left: 7em;
  }

  .skills-subheader span {
    margin: 0;
  }

  .skills-update {
    grid-template-columns: repeat(2, 100px);
    margin-left: 250px;
  }

  .skills-base-header {
    margin-left: 11em;
  }

  .skills-base {
    grid-template-columns: repeat(2, 100px);
    margin-left: 250px;
  }

  .skills-tools-header {
    margin-left: 170px;
  }

  .skills-tools-header span {
    margin-left: 110px;
  }

  .skills-tools {
    grid-template-columns: repeat(2, 100px);
    margin-left: 250px;
  }

  .skills-tools img:last-child {
    margin-left: 56px;
  }
  
  
  /* PROJECTS */
  .projects-header {
    padding-top: 15px;
    padding-left: 10px;
  }

  .project-card {
    width: 60vw;
  }

  .project-card img {
    height: 250px;
  }

  .card-btn {
    margin-left: 7em;
  }

  .card-button {
    width: 100px;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px;
    border: 1px solid #000;
  }

  /* SOCIAL */
  .social-container img {
    width: 25vw;
  }
}

@media screen and (min-width: 960px) {
  /* NAV */
  .nav {
    min-height: 16vh;
  }
  
  .menu {
    margin-top: -37px;
  }

  .logo img {
    margin-top: 20px; 
  }

  /* HERO */
  .hero img {
    height: 500px;
  }


  /* SKILLS  */
  .skills-basic {
    margin-left: 350px;
  }

  .skills-subheader {
    margin-left: 14em;
  }

  .skills-subheader span {
    margin-left: 0px;
  }

  .skills-update {
    margin-left: 400px;
  }

  .skills-base-header {
    margin-left: 17.5em;
  }
  
  .skills-base {
    margin-left: 400px;
  }

  .skills-tools-header {
    margin-left: 11em;
  }

  .skills-tools-header span {
    margin-left: 0;
  }

  .skills-tools {
    margin-left: 400px;
  }

  /* Projects */
  .projects-header {
    padding-top: 15px;
    padding-left: 10px;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card {
    width: 40vw;
  }

  .card-btn {
    margin-left: 6em;
  }

  .card-button {
    width: 100px;
    height: 30px;
    padding-top: 4px;
    padding-left: 6px;
    border: 1px solid #000;
  }

  /* SOCIAL */
  .social-container img {
    width: 25vw;
  }
}

@media (min-width: 1200px) {
  /* DESKTOP NAVBAR  */
  .nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: right;
  }

  .main-nav {
    display: flex;
    margin-top: -30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
  }

  .main-nav li a {
    margin-left: 40px;
    display: inline-block;
  }

  .logo img{
    position: absolute;
    top: 0;
    left: 50px;
    margin-left: 30px;
    margin-top: 14px;
    width: 100px;
    font-size: 1.5em;
  }

  .menu-toggle {
    display: none;
  }

  /* HERO  */
  .hero img {
    width: 100vw;
    height: 500px;
  }

  .hero-text {
    margin-left: 10%;
  }

  /* SKILLS  */
  .skills-basic {
    grid-template-columns: repeat(9, 100px);
    margin-left: 100px;
  }

  .skills-subheader {
    margin-left: 17em;
  }

  .skills-subheader span {
    margin: 0;
  }

  .skills-update {
    grid-template-columns: repeat(4, 100px);
    margin-left: 370px;
  }

  .skills-base-header {
    margin-left: 21.5em;
  }

  .skills-base {
    grid-template-columns: repeat(2, 100px);
    margin-left: 500px;
  }

  .skills-tools-header {
    margin-left: 15em;
  }

  .skills-tools {
    grid-template-columns: repeat(5, 100px);
    margin-left: 330px;
  }


  /* SOCIAL MEDIA */
  .social-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .social-container img {
    width: 15vw;
  }

  /* FOOTER */
  .footer {
    text-align: center;
  }

}

@media screen and (min-width: 1440px) {
  /* HERO */
  .hero img {
    height: 600px;
  }

  /* SKILLS  */
  .skills-basic {
    margin-left: 250px;
  }

  .skills-subheader {
    margin-left: 24em;
  }

  .skills-update {
    margin-left: 530px;
  }

  .skills-base-header {
    margin-left: 28em;
  }

  .skills-base {
    margin-left: 650px;
  }

  .skills-tools-header {
    margin-left: 22em;
  }

  .skills-tools {
    margin-left: 530px;
  }

  .skills-tools img:last-child {
    margin: 0;
  }

  /* PROJECTS */
  .project-card img {
    height: 320px; 
  }

  .card-btn {
    margin-left: 11em;
  }
}

@media screen and (min-width: 2560px){
  /* HERO */
  .hero img {
    height: 850px;
  }

  /* SKILLS */
  .skills-basic {
    margin-left: 750px;
  }

  .skills-subheader {
    margin-left: 1070px;
  }

  .skills-update {
    margin-left: 1030px;
  }

  .skills-base-header {
    margin-left: 1170px;
  }

  .skills-base {
    margin-left: 1150px;
  }

  .skills-tools-header {
    margin-left: 1030px;
  }

  .skills-tools {
    margin-left: 1010px;
  }

  /* PROJECTS */
  .project-card img {
    height: 520px; 
  }

  .card-btn {
    margin-left: 26em;
  }

}
