:root {
  --black: #000;
  --light: #ebebeb;
  --light-black: #1a1f25;
  --orange: #f2915a;
  --btn-border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* SCROLL TOP */
.scrollTop {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  background-color: #1a1f25;
  color: white;
  padding: 20px;
  border-radius: 1.375rem;
  position: fixed;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}


/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);
  box-shadow: 0px 10px 10px rgb(0 0 0 / 30%);
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}

.logo img {
  display: block;
  width: 90px;
  cursor: pointer;
  padding: 10px;
}

.menu-toggle {
  margin: 15px;
  order: 1;
}

.main-nav {
  display: none;  
}

header.header nav {
  display: flex;
  justify-content: space-between;
}

header.header nav ul li {
  list-style-type: none;
}

header.header nav ul li a {
  text-decoration: none;
  color: var(--black);
}

.main-nav {
  margin: 0 auto;
  text-align: center;
}

.opening {
  display: block;
  height: 233px;
  margin-top: -5px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.menu {
  /* margin-top: 60px; */
  cursor: pointer;
}

/* HERO */
.home {
  height: 200px;
}

.hero { 
  margin-top: 87px;
}

.hero img {
  max-width: 100%;
  position: absolute;
}

.hero-text { 
  position: relative;
  text-align: center;
  top: 80px;
  color: #fff;
}

/* THEME SWITCHER */
.theme-switcher {
  height: 200px;
}

.theme-container {
  background-color: var(--light);
  text-align: center;
  padding: 10px 20px;
}

.switcher-title {
  font-size: 20px;
}

.switchers {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.switchers div {
  margin-bottom: 10px;
}

.switchers .theme {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  color: var(--light-black);
  background-color: var(--orange);
  border: none;
  border-radius: var(--btn-border-radius);
}

/* ABOUT */
.about {
  text-align: center;
  padding-top: 40px;
}

.about-header {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 30px;
}

.about-description {
  margin: 15px 20px;
}

.about-btn {
  display: flex;
  justify-content: space-around;
}

.about-btn .btn {
  background-color: var(--orange);
  border: none;
  padding: 10px;
  width: 116px;
  border-radius: var(--btn-border-radius);
}

.about-btn .btn a {
  text-decoration: none;
  color: var(--black);
}

/* SKILLS SECTION */
.skills-section {
  margin-top: 25px;
  background-color: var(--light);
}

.skills-section h3 {
  text-align: center;
}

.skills-basic-header {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.skills-section img {
  width: 100px;
}

.skills-basic, .skills-update, .skills-tools {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-gap: 14px;
  justify-content: center;
  padding: 15px;
}

.skills-base {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;
  padding: 15px;
}

/* PROJECTS */
.projects-header {
  margin: 15px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.project-card {
  margin: 10px auto;
  /* border: 1px solid var(--light-black); */
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  padding-bottom: 10px;
  width: 100%;
  border-radius: 3px;
}

.project-card img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.project-card h3 {
  text-align: center;
  padding: 5px 0;
}

.project-card p {
  padding: 10px;
}

.project-card .card-btn {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-card .card-btn a, .more {
  background-color: var(--orange);
  color: var(--light-black);
  text-decoration: none;
  padding: 10px;
  border-radius: var(--btn-border-radius);
  width: 70px;
  text-align: center;
  border: none;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  width: 100px;
  margin-bottom: 10px;
}

/* SOCIAL */
.social-container {
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.social-container img {
  width: 100px;
  height: 100px;
}

/* FOOTER */
.footer {
  text-align: center;
  background-color: var(--light-black);
  color: #fff;
  padding: 20px;
}


/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
  .home {
    height: 240px;
  }
}

@media screen and (min-width: 425px) {
  .home {
    height: 260px;
  }

  .skills-basic {
    grid-template-columns: repeat(3, 100px);
  }

 .skills-update {
    grid-template-columns: repeat(2, 100px);
  }

  .skills-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .home {
    height: 480px;
  }

  .hero-text {
    top: 180px;
    font-size: 32px;
  }

  .theme-switcher {
    height: 120px;
  }

  .switchers {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .skills-basic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills-update, .skills-tools {
    grid-template-columns: repeat(4, 100px);
  }

  .skills-tools {
    grid-template-columns: repeat(5, 100px);
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .home {
    height: 635px;
  }

  .hero-text {
    font-size: 44px;
    top: 220px;
  }

  .theme-switcher {
    height: 140px;
  }
  
  .about {
    padding-top: 0;
  }

}

@media screen and (min-width: 1440px) {
  .home {
    height: 900px;
  }

  .hero {
    height: 100%;
  }

  .hero img {
    width: 110%;
  }

  .hero-text {
    top: 300px;
  }

  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
}